html {
    display: flex;
    justify-content: center;
    background-color:bisque;
}

body {
    margin: 0;
    padding: 0;

}
.nav-main {
    display: flex;
    margin: 0;

}
header, header img {
    margin: 0;
    padding: 0;
}

header img {
    display: block;
}

nav {
    width:  250px;
    border: 1px solid black;
    min-width: 250px;
}

h1 p {
    margin: 0;
}


main {
    width: 1090px;
    border: 2px solid red;
    height: 1000px;
}
